/*HedgeFundContainer*/

.HedgeFundContainer {
    text-align: center;
}

.HedgeFundContainer-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.HedgeFundContainer-intro{
    font-size: 20px;
}

.HedgeFundContainer-exchRates{
    text-align: center;
}

.HedgeFundContainer-link {
    color: #61dafb;
}

body {
    background: #f1f1f1;
    padding:50px;
}

.Crypto-container {
    background:white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
    /*text-align: left;*/
    /*display: inline-block;*/
}

span.left {
    font-weight: bold;
    /*text-align: center;*/
    /*float: right;*/
}

span.right {
    /*float:right;*/
    margin-left: 20px;
}

/*ChartWidget*/

.IFrameContainer {
    text-align: center;
    /*margin-left: 200px;*/
}

.IFrameContainerInner {

}

/*Charts*/

.Charts {
    text-align: center;
}

.Charts-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Charts-intro{
    font-size: 20px;
}

.Charts-main{
    font-size: 15px;
}

/*Team*/

.Team {
    text-align: center;
}

.Team-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Team-intro{
    font-size: 20px;
}

.Team-main{
    font-size: 15px;
}

/*About*/

.About {
    text-align: center;
}

.About-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.About-intro{
    font-size: 20px;
}

.About-main{
    font-size: 15px;
}

/*MyAccount*/

.MyAccount {
    text-align: center;
}

.About-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Account-balance{
    font-size: 20px;
}

.Account-currency{
    font-size: 15px;
}

/*OrdersCart*/

.OrdersCart {
    text-align: center;
}

.OrdersCart-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.OrdersCart-intro{
    font-size: 20px;
}

.OrdersCart-main{
    font-size: 15px;
}

/*LoginForm*/

.LoginForm {
    text-align: center;
}

.LoginForm-header {
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.LoginForm-intro{
    font-size: 20px;
}

.LoginForm-main{
    font-size: 15px;
}

/*Components*/

.Header {
    height: 125px;
    line-height: 125px;
    width: 250px;
    border:1px solid black;
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
}

.Footer {
    text-align: center;
    margin-top: 20px;
}
